<div class="main_header">
  <h1 class="display-4">ABC Telecom Ltd.</h1>
</div>

<div class="container main_container">
  <div class="row" style="justify-content: center">
    <div style="padding: 2rem">
      <a routerLink="/login">Admin Login </a><br />
    </div>
    <div style="padding: 2rem">
      <a routerLink="/customers">Customer </a><br />
    </div>
    <div style="padding: 2rem">
      <a routerLink="/managers">Manager </a><br />
    </div>
    <div style="padding: 2rem">
      <a routerLink="/engineers">Engineer </a><br />
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<div class="main_footer">
  <h3>Contact Us Here</h3>
  <div class="icons">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin-in"></i>
  </div>
  <div class="footer_content">
    <div class="left">
      <h4>Quick Links</h4>
      <ul>
        <li>Careers</li>
        <li>Privacy Policy</li>
        <li>Terms & Conditions</li>
      </ul>
    </div>
    <div class="middle">
      <h4>Digital Cable</h4>
      <ul>
        <li>Nodal Offers -</li>
        <li>Subscribers</li>
        <li>Offers - LOC's</li>
      </ul>
    </div>
    <div class="right">
      <h4>Broadband</h4>
      <ul>
        <li>Consumers Charter -</li>
        <li>Broadband</li>
        <li>Shooting</li>
        <li>Blogs</li>
      </ul>
    </div>
  </div>
  <p>Copyright &copy; 2022</p>
</div>
